.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  border: 1.4px solid rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  padding: 20px;
  transition: background-color 0.3s;
  cursor: pointer;

  &[disabled] {
    cursor: default;
  }

  &:hover {
    background-color: var(--contrast);
  }

  & p {
    line-height: 1.6;
    font-size: 0.9rem;
  }
}