.sidebar__element {
  background: rgba(255, 255, 255, 0.13);
  border-radius: 7px;
  grid-area: sidebar;
  margin-block: 20px;

}

.sidebar__wrapper {
  top: 0;
  max-height: 100vh;
  padding: 15px;
  overflow: auto;
  position: sticky;
}