.feature-view {
  display: grid;
  place-items: center;
  padding-block: 50px;
  gap: 3rem;
  width: 100%;
  height: 100%;
}

.container__controller {
  width: calc(100vw - 50%);
  display: grid;
  place-content: center;
  grid-template-columns: repeat(auto-fill, minmax(var(--col, 275px), 1fr));
  gap: 15px;
}

.is-feature {
  height: 350px;
  transition: transform 0.3s, background 0.3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:hover {
    transform: translateY(-12px);
  }

  &[disabled] {
    cursor: default;
    pointer-events: none;
    background: var(--border-color);
    opacity: var(--disabled-opacity);
  }
}

.content__feature {
  font-size: 1.2em;

  .icon {
    width: 30px;
    height: 30px;
  }
}

